body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.8px;
  /* display: flex;
  flex-direction: column; */
  position: relative;


}
:root {
  --red:#DC0714;
  --grem: #00616D;
  --grem-5: #00C9B7;
  --plomo: #9D9898;
}




/* aqui comienza el header */
.header {
  background-image: linear-gradient(to right, #2ccee4, #057f8f);
  text-align: center;
}
.header .container {
  padding: 10px 10px;
  align-items: center;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}
.header-img {
  margin: 0 10px;
}
.nav {
  border-radius: 10px;
  background-color: #03bcd4ec;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: -100vw;
  padding: 20px;
  padding-bottom: 100px;
  transition: .3s;
}
.nav-active {
  right: 5px;
}
.nav ul {
  /* display: flex; */
  /* margin: 0 10px; */
  padding: 0;
}
.nav li {
  margin: 20px 0;
  margin-inline-start: 5px;
  list-style: none;
  box-sizing: border-box;
}
.nav a
{
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #00454e;
}


.nav a:hover {
  color: white;
  background: var(--red);
}
.active-cat {
  cursor: pointer;
}
.active-cat img {
  vertical-align: middle;
}
.er {
  display: none;
  padding: 0 0 0 70px;
}
.er a {
  display: block;
  width: 100px;
  border-color: blanchedalmond;
  margin-bottom: 20px;
}
.nav-activee {
  display: block;
}

/* aqui comienza quienes somos */
.q-somos {
  padding: 20px 10px;
  max-width: 1500px;
  margin: 30px 10px 50px 10px;
  text-align: center;
}
.q-somos h2 {
  margin: 0;
  grid-area: title;
  color: var(--grem);
}
.q-somos figure {
  margin: 20px 0;
}




/* aqui comienza historia */
.historia {
  padding: 20px 10px;
  max-width: 1500px;
  margin: 30px 10px 50px 10px;
  text-align: center;
}
.historia h2 {
  color: var(--grem);
}
.historia figure {
  margin: 20px 0;
}


/* aqui comienza la mision */
.back-mision {
  background-image: linear-gradient(to bottom, #0a9eb1, #058190, #036571, #014a53, #003137);
}
.cont-mision {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px 10px;
  text-align: center;
  color: white;
}
.mision h3, .vision h3, .valores h3 {
  color: white;
  margin-top: 40px;
  font-size: 22px;
}
.cont-mision figure {
  box-sizing: border-box;
}
.cont-mision figure img {
  width: 200px;
}



/* aqui comienzan los comentarios */
.cont-comentarios {
  /* display: none; */
}
.cont-comentarios h2 {
  color: var(--grem);
  margin-top: 50px;
  text-align: center;
}
.comentarios-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10px;
  gap: 10px;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
}
.comentario-card {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-areas: "figure card-title"
                       "comentario comentario";
  background-color: turquoise;
  /* max-width: 400px; */
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  place-items: center
;
}
.comentario-card figure {
  grid-area: figure;
  width: 80px;
  margin: 0;

}
.comentario-card figure img {
  border-radius: 50%;
}
.comentario-card-title {
  grid-area: card-title;
}
.comentario-parrafo {
  grid-area: comentario;
}





/* aqui comienza la parte del contacto */
.contacto-cont {
  padding: 10px 10px;
}
.contacto {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}
.contacto-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* -webkit-grid-template-colums: repeat(auto-fit, minmax(300px, 450px)); */
  justify-items: center;
  justify-content: center;
  gap: 18px;
}
.contacto-card {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid var(--plomo);
  border-radius: 10px;
  padding: 20px 10px;
  margin: 0 20px;
  /* max-width: 300px; */
  display: grid;
  grid-template-rows: auto auto 40px;
  justify-content: center;
}
.contacto h3 {
  color: var(--grem);
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
}
.contacto-card p {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}
.contacto-card h4 {
  color: #505050;
  font-size: 20px;
  margin: 10px 0;
}
.contacto-card a {
  border: 2px solid white;
  color: var(--grem-5);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 25px;
}
.contacto-card a:hover {
  border: 2px solid var(--grem-5);

}


/* aqui comienza el footer */

.footer {
  background-color: black;
  color: white;
  padding-top: 30px;
}
.footer-cont {
  padding: 0 10px;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  justify-items: center;
  gap: 10px;
  text-align: center;
}
/* call-contact */
/* .call-contact {
  margin-bottom: 70px;
} */
.call-contact-p1 {
  font-size: 20px;
  color: var(--plomo);
  max-width: 300px;
  margin-bottom: 40px;
}
.escribenos {
  width: auto;
  height: 80px;
  font-size: 30px;
  background-color: #00bb2d;
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
}
.escribenos-cont {
  margin-bottom: 40px;
}
.escribenos:hover {
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.644);
}
.escribenos span {
  color: white;

}
.escribenos img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
/* social-media */
.social-media {
  margin-bottom: 70px;
}
.social-media p {
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--grem-5);
}
.social-media figure {
  margin: 0;
}
.social-media img:hover {
  cursor: pointer;
  box-shadow: 5px 2px 10px var(--grem-5);
}
.social-media img {
  margin: 10px;
  height: 50px;
}
#social-margen {
  margin-left: 0;
}
/* footer nav */
.footer-nav {
  margin-bottom: 70px;
  max-width: 1500px;
  margin: 0 auto;
}
.footer-nav ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-nav li {
  margin-bottom: 10px;
  list-style: none;
  margin: 15px;
}
.footer-nav li a {
  color: var(--grem-5);
}
/* footer-end */
.footer-end {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-block-start: 1px solid var(--plomo);
  text-align: center;
  margin: 0;
}
.footer-end p{
  margin: 0;
}
.footer-end img {
  background-color: white;
  vertical-align: middle;
  height: 20px;
}


.menuicon {
  position: fixed;
  z-index: 2;
  width: 30px;
  height: 30px;
  padding: 20px;
  bottom: 40px;
  right: 20px;
  background-color: var(--red);
  border-radius: 50%;
  
}
.menuicon img {
  width: 100%;
}
@media  (min-width: 800px){
  /* quienes somos*/
  .q-somos {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas: "title title"
                         "image parrafo";
    place-items: center;
    margin: 0 auto;
  }
  .q-somos h2 {
    grid-area: title;
  }
  .q-somos figure {
    grid-area: image;
  }
  .q-somos p {
    grid-area: parrafo;
  }

  /* Historia */
  .historia {
    display: grid;
    grid-template-areas: "title title"
                         "image parrafo";
    place-items: center;
    margin: 0 auto;
  }
  .historia h2 {
    grid-area: title;
    /* place-self: center; */
  }
  .historia figure {
    grid-area: image;
  }
  .historia p {
    grid-area: parrafo;
  }


}